* {
    font-family:"FuturaStd-Book","Segoe UI","Segoe","Tahoma,Helvetica,Arial,sans-serif";
    color: #4d4d4d;
}
h1 {
    font-size:42px;
    display:block; 
    color: #4d4d4d;
    filter:contrast(8.45);
}
button {
    color:black;
    background-color:rgb(251, 255, 30);
    font-size:24px;
    font-weight:bold;
    border-radius:12px;
}
label {
    font-size:26px;
    display:block; 
    color: #4d4d4d;
    filter:contrast(8.45);
}
a {
   text-decoration: none; 
}

.alert-text {
    display: none;
    color:Red;
}
.center-all {
    text-align: center;
}

.container {
    display:flex;
    justify-content: center;

}

table, th, td {
    border: 1px solid black;
     border-collapse: collapse;
     font-family: "arial";
     color:black;
     text-align:center;
  }
  table {
    padding:10px;
  }
th {
  font-size: 10pt;
  color: black;
  font-weight:bold;
}
td:nth-child(8),td:nth-child(1),th:nth-child(1),td:nth-child(9),th:nth-child(8), td:nth-child(7),th:nth-child(7) {
  display: none;
} 

td:nth-child(6),th:nth-child(6) {
  display:none;
}